.section_header {
    color:rgb(98, 98, 98);
}

.affiliation {
    padding-bottom: 20px;
    /* margin-bottom: 50px; */
}

.affiliation_title {
    color:rgb(98, 98, 98);
    font-weight: bold;
    font-size: 1.0em;
}

.affiliation_body {
    color:rgb(98, 98, 98);
    font-weight: 300;
    font-size: 0.85em;
}

.logo {
    width: 75px;
    height: 75px;
    border: 0px;
}

.btn-expand {
    background-color:#4582ec;
    margin-left: 5px;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
  }
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.award {
    padding-bottom: 5px;
}

.award_title {
    font-size: 1.15em;
    font-weight: 150;
    color:rgb(98, 98, 98);
}

.award_body {
    color:rgb(98, 98, 98);
    font-weight: 300;
}

.award_links {
    color:rgb(98, 98, 98);
}

.award_logo {
    width: 80px;
    height: 80px;
    border: 0px;
}

.bio_header {
    text-align: center;
    line-height: 1;
    color:rgb(98, 98, 98);
}

.bio_email {
    text-align: center;
    font-weight: 300;
    font-size: 1.0em;
    margin-top: 1.0em;
    color:rgb(98, 98, 98);
}

.bio_body {
    text-align: left;
    font-weight: 300;
    font-size: 1.0em;
    margin-top: 1.5em;
    padding-bottom: 0.3em;
    color:rgb(98, 98, 98);
}

.news_body {
    text-align: left;
    font-weight: 300;
    font-size: 0.9em;
    /* margin-top: 1.5em;
    padding-bottom: 0.3em; */
    color:rgb(98, 98, 98);
}

.research {
    margin-bottom:15px; /* Does this make a difference? */
}

.research_img_cell {
    width:40%;
    padding:0;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:0;
    margin-right:0;
    text-align:center;
}

.research_img {
    border: 0px;
    max-height:200px;
    max-width:300px;
    height:auto;
    width:auto;
}

.research_txt_cell {
    text-align:top;
    width:60%;
    padding-bottom:20px;
}

.research_txt_title {
    font-size: 1.15em;
    font-weight: 150;
    color:rgb(98, 98, 98);
}

.research_txt_body {
    font-weight: 300;
    color:rgb(98, 98, 98);
}

.research_links {
    color:rgb(98, 98, 98);
}

.research_venue {
    color: #090;
}

.research_award {
    color: #D21919;
}